@media only screen and (min-width: 900px) {
    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 50px;
    }
    
    #gallery .title {
        color: black;
        font-size: 35px;
        font-weight: bold;
        text-align: center;

        margin-bottom: 20px;
    }

    #gallery .description {
        color: gray;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 30px;
        
        margin-left: 250px;
        margin-right: 250px;
        
        align-self: center;
    }

    #gallery .content {
        width: 90%;

        margin-top: 50px;
    }

    #gallery .content .image {
        width: 12.5%;
        height: 200px;
        object-fit: cover;

        float: left;

        border: 5px solid white;
    }

    #gallery-image-container {
        display: none;
        align-items: center;
        justify-content: center;

        position: fixed;
        left: 0;
        top: 0;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.8);

        z-index: 100;
    }

    #gallery-image {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}

@media only screen and (max-width: 900px) {
    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
    }
    
    #gallery .title {
        color: black;
        font-size: 35px;
        font-weight: bold;
        text-align: center;

        margin-bottom: 20px;
    }

    #gallery .description {
        color: gray;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 30px;
        
        margin-left: 20px;
        margin-right: 20px;
        
        align-self: center;
    }

    #gallery .content {
        width: 100%;

        margin-top: 50px;
    }

    #gallery .content .image {
        width: 50%;
        height: 200px;
        object-fit: cover;

        float: left;

        border: 5px solid white;
    }

    #gallery-image-container {
        display: none;
        align-items: center;
        justify-content: center;

        position: fixed;
        left: 0;
        top: 0;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.8);

        z-index: 100;
    }

    #gallery-image {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}